# iec61850.cnf
# iec61850 conformation file

#.MODULE_IMPORT
ISO-8650-ACSE-1 acse

#.IMPORT ../acse/acse-exp.cnf

#.EXPORTS
IEC61850pdu

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.TYPE_ATTR
TimeOfDay	TYPE = FT_STRING DISPLAY = BASE_NONE
UtcTime	TYPE = FT_STRING DISPLAY = BASE_NONE

#.FIELD_RENAME
ConfirmedServiceRequest/deleteEventCondition        confirmedServiceRequest_deleteEventCondition
ConfirmedServiceResponse/deleteEventCondition       confirmedServiceResponse_deleteEventCondition
ConfirmedServiceRequest/deleteEventAction           confirmedServiceRequest_deleteEventAction
ConfirmedServiceRequest/deleteEventAction           confirmedServiceRequest_deleteEventAction
ConfirmedServiceRequest/deleteEventEnrollment       confirmedServiceRequest_deleteEventEnrollment
ConfirmedServiceResponse/deleteEventEnrollment      confirmedServiceResponse_deleteEventEnrollment
TypeSpecification/bit-string                        typeSpecification_bit-string
Data/bit-string                                     data_bit-string
TypeSpecification/octet-string                      typeSpecification_octet-string
Data/octet-string                                   data_octet-string
TypeSpecification/visible-string                    typeSpecification_visible-string
Data/visible-string                                 data_visible-string
TypeSpecification/binary-time                       typeSpecification_binary-time
Data/binary-time                                    data_binary-time
GetNameList-Request/continueAfter                   getNameList-Request_continueAfter
GetCapabilityList-Request/continueAfter             getCapabilityList-Request_continueAfter
GetEventEnrollmentAttributes-Request/continueAfter  getEventEnrollmentAttributes-Request_continueAfter
GetAlarmEnrollmentSummary-Request/continueAfter     getAlarmEnrollmentSummary-Request_continueAfter
FileDirectory-Request/continueAfter                 fileDirectory-Request_continueAfter
GetDomainAttributes-Response/state                  getDomainAttributes-Response_state
GetProgramInvocationAttributes-Response/state       getProgramInvocationAttributes-Response_state
ReportSemaphoreEntryStatus-Request/state            reportSemaphoreEntryStatus-Request_state
AlterEventEnrollment-Response/currentState/state    alterEventEnrollment-Response_currentState_state

#.FIELD_ATTR
ConfirmedServiceRequest/deleteEventCondition        ABBREV=confirmedServiceRequest.deleteEventCondition
ConfirmedServiceResponse/deleteEventCondition       ABBREV=confirmedServiceResponse.deleteEventCondition
ConfirmedServiceRequest/deleteEventAction           ABBREV=confirmedServiceRequest.deleteEventAction
ConfirmedServiceRequest/deleteEventAction           ABBREV=confirmedServiceRequest.deleteEventAction
ConfirmedServiceRequest/deleteEventEnrollment       ABBREV=confirmedServiceRequest.deleteEventEnrollment
ConfirmedServiceResponse/deleteEventEnrollment      ABBREV=confirmedServiceResponse.deleteEventEnrollment
TypeSpecification/bit-string                        ABBREV=typeSpecification_bit-string
Data/bit-string                                     ABBREV=data_bit-string
TypeSpecification/octet-string                      ABBREV=typeSpecification.octet-string
Data/octet-string                                   ABBREV=data.octet-string
TypeSpecification/visible-string                    ABBREV=typeSpecification.visible-string
Data/visible-string                                 ABBREV=data.visible-string
TypeSpecification/binary-time                       ABBREV=typeSpecification.binary-time
Data/binary-time                                    ABBREV=data.binary-time
GetNameList-Request/continueAfter                   ABBREV=getNameList-Request_continueAfter
GetCapabilityList-Request/continueAfter             ABBREV=getCapabilityList-Request_continueAfter
GetEventEnrollmentAttributes-Request/continueAfter  ABBREV=getEventEnrollmentAttributes-Request_continueAfter
GetAlarmEnrollmentSummary-Request/continueAfter     ABBREV=getAlarmEnrollmentSummary-Request_continueAfter
FileDirectory-Request/continueAfter                 ABBREV=fileDirectory-Request_continueAfter
GetDomainAttributes-Response/state                  ABBREV=getDomainAttributes-Response_state
GetProgramInvocationAttributes-Response/state       ABBREV=getProgramInvocationAttributes-Response_state
ReportSemaphoreEntryStatus-Request/state            ABBREV=reportSemaphoreEntryStatus-Request_state
AlterEventEnrollment-Response/currentState/state    ABBREV=alterEventEnrollment-Response_currentState_state


#.FN_BODY ApplicationReference/ap-title
	offset=dissect_acse_AP_title_stub(FALSE, tvb, offset, actx, tree, hf_iec61850_ap_title);

#.FN_BODY ApplicationReference/ap-invocation-id
	offset=dissect_acse_AP_invocation_identifier_stub(FALSE, tvb, offset, actx, tree, hf_iec61850_ap_invocation_id);

#.FN_BODY ApplicationReference/ae-qualifier
	offset=dissect_acse_AE_qualifier_stub(FALSE, tvb, offset, actx, tree, hf_iec61850_ae_qualifier);

#.FN_BODY ApplicationReference/ae-invocation-id
	offset=dissect_acse_AE_invocation_identifier_stub(FALSE, tvb, offset, actx, tree, hf_iec61850_ae_invocation_id);

#.FN_BODY ObjectName VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->ObjectName = branch_taken;

#.FN_BODY ConfirmedServiceRequest VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->Service = branch_taken;

#.FN_BODY ConfirmedServiceResponse VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->Service = branch_taken;

#.FN_BODY VariableAccessSpecification VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->VariableAccessSpecification = branch_taken;

#.FN_BODY UnconfirmedService VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->Service = branch_taken;

#.FN_BODY MMSpdu VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->MMSpdu = branch_taken;

#.FN_BODY TimeOfDay

	guint32 len;
	guint32 milliseconds;
	guint16 days;
	gchar *	ptime;
	nstime_t ts;

	len = tvb_reported_length_remaining(tvb, offset);

	if(len == 4)
	{
		milliseconds = tvb_get_ntohl(tvb, offset);
		ptime = signed_time_msecs_to_str(actx->pinfo->pool, milliseconds);

		if(hf_index > 0)
		{
			proto_tree_add_string(tree, hf_index, tvb, offset, len, ptime);
		}
		return offset;
	}

	if(len == 6)
	{
		milliseconds = tvb_get_ntohl(tvb, offset);
		days = tvb_get_ntohs(tvb, offset+4);

		/* 5113 days between 01-01-1970 and 01-01-1984 */
		/* 86400 seconds in one day */

		ts.secs = (days + 5113) * 86400 + milliseconds / 1000;
		ts.nsecs = (milliseconds %% 1000) * 1000000U;

		ptime = abs_time_to_str(actx->pinfo->pool, &ts, ABSOLUTE_TIME_UTC, TRUE);
		if(hf_index > 0)
		{
			proto_tree_add_string(tree, hf_index, tvb, offset, len, ptime);
		}
		private_data_add_moreCinfo_str(actx, ptime);
		return offset;
	}

	proto_tree_add_expert_format(tree, actx->pinfo, &ei_iec61850_mal_timeofday_encoding,
			tvb, offset, len, "BER Error: malformed TimeOfDay encoding, length must be 4 or 6 bytes");
	if(hf_index > 0)
	{
		proto_tree_add_string(tree, hf_index, tvb, offset, len, "????");
	}

#.FN_BODY UtcTime

	guint8 quality;
	guint32 len;
	guint32 seconds;
	guint32	fraction;
	guint32 nanoseconds;
	nstime_t ts;
	gchar *	ptime;
	gchar * timestring;

	ws_assert(actx->pinfo->pool);
	timestring = wmem_alloc0(actx->pinfo->pool, BUFFER_SIZE_MORE );
	ws_assert(timestring);

	len = tvb_reported_length_remaining(tvb, offset);

	if(len != 8)
	{
		proto_tree_add_expert_format(tree, actx->pinfo, &ei_iec61850_mal_utctime_encoding,
				tvb, offset, len, "BER Error: malformed IEC61850 UTCTime encoding, length must be 8 bytes");
		if(hf_index > 0)
		{
			proto_tree_add_string(tree, hf_index, tvb, offset, len, "????");
		}
		return offset;
	}

	seconds = tvb_get_ntohl(tvb, offset);
	fraction = tvb_get_ntoh24(tvb, offset+4) * 0x100; /* Only 3 bytes are recommended */
	nanoseconds = (guint32)( ((guint64)fraction * G_GUINT64_CONSTANT(1000000000)) / G_GUINT64_CONSTANT(0x100000000) ) ;

	ts.secs = seconds;
	ts.nsecs = nanoseconds;

	ptime = abs_time_to_str(actx->pinfo->pool, &ts, ABSOLUTE_TIME_UTC, TRUE);

	quality = tvb_get_guint8(tvb, offset+7);
	snprintf(timestring, BUFFER_SIZE_MORE, "%s,q:%02x", ptime, quality);

	if(hf_index > 0)
	{
		proto_tree_add_string(tree, hf_index, tvb, offset, len, timestring);
	}
	private_data_add_moreCinfo_str(actx, timestring);


#.FN_BODY Unsigned32 VAL_PTR=&val
	guint32 val;
%(DEFAULT_BODY)s
	if (hf_index == hf_iec61850_invokeID)
		private_data_add_preCinfo(actx, val);

#.FN_BODY FloatingPoint
%(DEFAULT_BODY)s
	private_data_add_moreCinfo_float(actx, tvb);

#.FN_BODY Identifier
	int32_t offset_id = offset;
%(DEFAULT_BODY)s
	if (tvb_get_guint8(tvb, offset_id) == 0x1a)
	{
		if (hf_index == hf_iec61850_domainId) 
		{
			private_data_add_moreCinfo_domainid(actx,tvb);
		}
		else //if (hf_index == hf_iec61850_itemId)
		{
			private_data_add_moreCinfo_itemid(actx,tvb);
		}
	}
	else
	{
		private_data_add_moreCinfo_domain(actx,tvb);
	}

#.FN_BODY GetNameList-Request/objectScope VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->objectScope = branch_taken;

#.FN_BODY GetNameList-Request/extendedObjectClass/objectClass VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->objectClass = branch_taken;

#.FN_BODY Data VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->DataType = branch_taken;

#.FN_BODY AccessResult VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->Success = branch_taken;

#.FN_BODY Data/structure
	private_data_add_moreCinfo_structure(actx, 1);
%(DEFAULT_BODY)s
	private_data_add_moreCinfo_structure(actx, 0);

#.FN_BODY Data/array
	private_data_add_moreCinfo_structure(actx, 1);
%(DEFAULT_BODY)s
	private_data_add_moreCinfo_structure(actx, 0);

#.FN_BODY Data/boolean VAL_PTR=&val
	gboolean val;
%(DEFAULT_BODY)s

	private_data_add_moreCinfo_bool(actx, val);

#.FN_BODY Data/unsigned VAL_PTR=&val
	gint val;
%(DEFAULT_BODY)s

	private_data_add_moreCinfo_int(actx, val);

#.FN_BODY Data/integer VAL_PTR=&val
	gint val;
%(DEFAULT_BODY)s

	private_data_add_moreCinfo_int(actx, val);

#.FN_BODY Data/bcd VAL_PTR=&val
	gint val;
%(DEFAULT_BODY)s

	private_data_add_moreCinfo_int(actx, val);

#.FN_BODY Data/octet-string
	gint old_offset = offset;
%(DEFAULT_BODY)s
	private_data_add_moreCinfo_ostr(actx, tvb, old_offset);

#.FN_BODY Data/visible-string
	gint old_offset = offset;
%(DEFAULT_BODY)s
	private_data_add_moreCinfo_vstr(actx, tvb, old_offset);

#.FN_BODY Data/bit-string
	gint old_offset = offset;
%(DEFAULT_BODY)s
	private_data_add_moreCinfo_bstr(actx, tvb, old_offset);

#.FN_BODY DataAccessError VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->DataAccessError = branch_taken;
	private_data_add_moreCinfo_enum(actx, branch_taken, iec61850_DataAccessError_vals);

#.FN_BODY Write-Response/_item VAL_PTR=&branch_taken
	gint branch_taken;

%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->Success = branch_taken;

#.FN_BODY AlternateAccess
%(DEFAULT_BODY)s
	iec61850_private_data_t *private_data = (iec61850_private_data_t*)iec61850_get_private_data(actx);
	private_data->AlternateAccess = 1;